.place__title {
  grid-area: title;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
