.footer__link {
  margin-right: 18px;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  line-height: calc(18 / 16);
  text-decoration: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
