.lead__title {
  max-width: 720px;
  margin: 0;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 96px;
  line-height: calc(100 / 96);
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 767px) {
  .lead__title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 1.13;
  }
}
