.lead__subtitle {
  max-width: 640px;
  margin: 0;
  margin-bottom: 64px;
  font-weight: normal;
  font-size: 30px;
  line-height: calc(36 / 30);
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: calc(20 / 16);
  }
}
