.lead__subtitle {
  width: 640px;
  margin: 0;
  margin-bottom: 64px;
  font-weight: normal;
  font-size: 30px;
  line-height: calc(36 / 30);
  text-align: center;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
