.place__link {
  border-bottom: 1px solid #fff;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: opacity .3s ease;
}

.place__link:hover {
  opacity: .8;
}

.place__link:visited {
  color: #fff;
}
