.lead__caption {
  align-self: flex-start;
  margin: 0;
  font-weight: normal;
  font-size: 10px;
  line-height: calc(14 / 10);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin-left: 16px;
  }
}
