.language__link {
  margin-right: 18px;
  font-weight: normal;
  font-size: 24px;
  line-height: calc(28 / 24);
}

.language__link:last-of-type {
  margin-right: 0;
}

.language__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .language__link {
    font-size: 18px;
    line-height: calc(20 / 18);
  }
}
