.language__link {
  margin-left: 18px;
  color: #fff;
  font-weight: normal;
  font-size: 24px;
  line-height: calc(28 / 24);
  text-decoration: none;
}

.language__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .language__link {
    font-size: 18px;
    line-height: calc(20 / 18);
  }
}
