.language__link {
  margin-right: 18px;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.language__link:last-of-type {
  margin-right: 0;
}

.language__link:hover {
  text-decoration: underline;
}
